.hcontainer {
  height: 80vh;
  width: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  object-fit: contain;
  background-color: #03FFA5;
}

.albuns{
	padding: 10px 0px 10px 0px;
}

h2 {
  color: black;
  font-size: 80px;
  text-align: left;
  /* margin-left: 3em; */
  margin-top: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.brands{
  background-color: red;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 1200px) {
  h2 {
    color: black;
    font-size: 50px;
    text-align: left;
    /* margin-left: 3em; */
    margin-top: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .img-responsive{
    flex-direction: column;
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    color: black;
    font-size: 30px;
    text-align: left;
    /* margin-left: 3em; */
    margin-top: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .img-responsive{
    flex-direction: column;
    max-width: 20%;
  }
}
